<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin {{admin}}</title>
</head>
<body>
	<a href="../user/createSecuence">Create secuence</a>
	<a href="./logs">Logs</a>
	<a href="./makeAdmin">Manage admins</a>
	<a href="./../logout">logout</a>
</body>
</html>